extends base
block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Forgot Password.
            form.form
                .form__group
                    p.card__text Don't worry! Enter your email bellow and we'll email you with instructions on how to reset your password.
                .form__group
                    label.form__label(for='email') Email address
                    input#email.form__input(type='email', placeholder='you@example.com', required)
                .form__group
                    button.btn.btn--green Submit
                

    script(src='/js/forgotPassword.js')